/* product details  */
#product-details {
    padding: 100px 0;
}

#product-details .content {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#product-details .content .product-image {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
}

#product-details .content .product-image img {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

#product-details .content .product-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-content .product-name {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 800;
    letter-spacing: 1px;
}

.product-content .product-price {
    font-size: 18px;
    font-weight: 600;
}

.product-price .price-discount {
    color: #dc2626;
    margin-right: 8px;
}

.product-price .price-standard {
    text-decoration: line-through;
    color: #9e9fa1;
    font-style: italic;
}

.product-description {
    line-height: 1.6;
    margin-top: 16px;
    font-size: 16px;
}

.btn-groups {
    margin-top: 20px;
}

.btn-groups button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: var(--button-color);
    border: none;
    margin-right: 8px;
}

.add-cart-btn:hover {
    background-color: var(--button-hover-color);
}
