/* Responsive  */
@media screen and (max-width: 992px) {
    .product-item-div {
        grid-template-columns: 100%;
    }

    .product-item-div-right {
        text-align: center;
    }

    .product-item-rating {
        justify-content: center;
    }

    .product-item-description {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px) {
    .btn-groups button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 799px) {
    .main-product-area {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -350px;
        height: 100vh;
        width: 300px;
        background-color: var(--header-color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease-in;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #navbar.active {
        right: -50px;
    }

    .search-box:hover>.search-txt {
        width: 200px;
        padding: 0 6px;
        top: 50px;
    }

    #close-bar {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #000;
    }

    #lg-bag {
        opacity: 0%;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #000;
        font-size: 24px;
        padding-left: 20px;
    }

    .main-product-area .products-container {
        justify-content: center;
    }

    .main-product-area .product-item {
        margin: 15px;
        min-width: 264px;
    }

    #banner2 .content {
        height: 20vh;
    }

    #banner2 .content h4 {
        color: #075207c7;
        font-size: 25px;
        padding: 0px 0;
        margin-top: 2px;
    }

    #banner2 .content h2 {
        color: #000000;
        margin-top: 0px;
        font-size: 16px;
    }

    button.normal {
        font-weight: bold;
        font-size: 14px;
        padding: 5px 50px;
        background-color: rgb(255, 89, 0);
        color: #141010;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        margin-top: 10px;
        transition: 0.5s;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        background-image: url(img/banner/banner4.jpg);

        background-size: cover;
        background-position: bottom;
        padding: 6px;
        border: 2px solid rgb(221, 204, 172);
        border-radius: 10px;
    }

    button.white {
        font-weight: 900px;
        font-size: 13px;
        padding: 3px 13px;
        color: #030303;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid #141414;
        outline: none;
        transition: 0.2s;
        text-transform: uppercase;
        margin-right: 100px;
    }

    #sm-banner .banner-box button {
        margin-bottom: -1px;
        background: rgba(204, 16, 16, 0.919);
        border: 1px solid var(--blue-color);
        border-radius: 10px;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0 80px;
        flex-direction: column;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter button {
        margin-top: 20px;
        padding: 10px 8px;
        font-size: 16px;
        margin-left: 5px;
        background-color: rgba(180, 41, 6, 0.878);
        color: #e6dcdc;
        white-space: nowrap;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 800;
    }

    .row {
        width: 85%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    div.social-icon {
        margin-left: 55px;
    }

    .col form {
        padding-bottom: 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }

    .home-area {
        position: relative;
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #ffeeeefe;
    }

    .slider-navigation {
        z-index: 888;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(80px);
        margin-bottom: -114px;
    }

    div.social-icon {
        margin-left: 53px;
    }

    #footer {
        height: 0%;
    }

    .blogBoss {
        flex-direction: column;
    }

    .blogBossimg {
        width: 100% !important;
    }

    .blogMedia,
    .blogMedia-text {
        font-size: 12px !important;
    }

    .blogMediacontent {
        flex-direction: column;
    }

    .blogMediacontent .card {
        width: 95% !important;
        margin: 10px !important;
    }

    .blogMediatext {
        font-size: 16px !important;
    }

    .blogBosscontent {
        width: 100% !important;
        font-size: 15px !important;
        padding: 5px 0px !important;
    }

    #showcart {
        width: 90%;
    }

    #form-details {
        padding: 10px;
        margin: 10px;
    }

    #form-details form {
        display: flex;
        flex-direction: column;
    }

    #form-details .form-img,
    .form-content {
        width: 100%;
        padding: 1px;
    }

    #contact-details {
        display: flex;
        flex-direction: column;
    }

    #contact-details .details,
    .map {
        width: 100% !important;
    }

    .about-header img {
        height: 250px;
    }

    .about-banner h1 {
        margin: 3px;
        font-size: 15px;
        color: #ffffff;
    }

    .about-banner h3 {
        margin-bottom: 10px;
        font-size: 13px;
    }

    .newslatter form .input-about:last-child {
        position: absolute;
        /* display: inline-block; */
        /* outline: none; */
        border: none;
        padding: 2px;
        border-radius: 30px;
        background-color: rgb(154, 79, 38);
        /* color: rgb(9, 3, 50); */
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 63px;
        /* right: 5px; */
        cursor: pointer;
        left: 141px;
        font-size: 10px;
        width: 30%;
    }

    .newslatter form .input-about:first-child {
        position: relative;
        width: 100%;
        padding: 2px 40px 2px 10px;
        border: 2px solid rgb(87, 2, 2);
        border-radius: 30px;
        font-size: 12px;
    }

    .about-banner {
        right: 3%;
        top: 50%;
    }

    .about-main {
        flex-direction: column;
        margin: 1px;
    }

    .about-img {
        width: 100%;
        margin: 0px !important;
    }

    .about-text {
        width: 100%;
        margin: 0px;
        text-align: center;
        align-items: center;
    }

    .about-text p {
        padding-left: 15px;
    }

    .folow-me {
        margin: 5px;
        width: 100%;
        text-align: center;
    }

    .folow-me p:nth-child(1) {
        font-size: 17px;
        width: 100%;
    }

    .folow-me p:nth-child(2) {
        font-size: 12px;
        width: 91%;
        text-align: center;
        line-height: 26px;
    }

    #showcart {
        width: 100%;
        position: fixed;
        border-radius: 10px;
        right: 0px;
        top: 80px;
        padding: 0px;
        background-color: #eee;
        border: 1px #ccc solid;
    }

    .cart-pay {
        width: 100%;
        padding: 10px 0px;
    }

    .pay-button .pay-btn {
        font-size: 14px;
        font-weight: 600;
        padding: 10px 5px;
        border: none;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        background-color: #ccc;
        color: #000;
        transition: 0.3s ease-in-out;
    }

    .pay-button .pay-btn:hover {
        background-color: var(--blue-color);
        opacity: 90%;
        color: #ffffff;
    }

    table {
        margin-left: 0px;
        font-size: 9px;
        margin-bottom: 10px;
        width: 300px;
        border-collapse: collapse;
    }

    th {
        background-color: #999;
        padding: 10px;
        text-transform: uppercase;
        width: 500px;
    }

    th,
    td {
        border: 1px #ccc solid;
        text-align: center;
    }

    th div {
        color: var(--red-color);
        width: -5px;
    }

    td img {
        width: 30px;
    }

    #remove {
        font-size: 10px;
        position: relative;
        top: -30px;
        float: right;
        padding: 5px 10px;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        padding: 8px 4px;
        cursor: pointer;
        outline: none;
        background-color: #ef4444;
        color: #ffffff;
        transition: 0.3s ease-in-out;
    }

    #remove:hover {
        background-color: #dc2626;
    }

    #mycart .delete-btn {
        background: transparent;
        border: none;
        outline: none;
        color: #000;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }

    #mycart .delete-btn i:hover {
        color: #dc2626;
    }

    .blogBossclick {
        margin-left: 250px;
        margin-top: -22px;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        width: 32%;
        padding: 1px;
        background-color: #641202f0;
        border-radius: 10px;
        cursor: pointer;
    }

    .head1 {
        margin-left: 63px;
        font-weight: bold;
        width: 400px;
        font-size: 24px;
        text-transform: uppercase;
    }

    .textp {
        padding: 0px 5px;
    }

    .main-product-area>div>h2 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .main-product-area>div>p {
        font-style: italic;
        font-size: 18px;
    }

    .main-product-area .product-item .price .price-reduced {
        position: absolute;
        right: 30px;
        color: #fff;
        background-color: var(--red-color);
        border-radius: 6px;
    }

    .blogMediacontent .card {
        width: 25%;
        margin: 10px;
        border-radius: 10px;
        border: 1px double #1b5633;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .blogBoss {
        display: flex;
        margin: 10px;
        border-radius: 20px;
        border-bottom: 3px solid #5d0e07;
        border-left: 3px solid #5d0e07;
        border-right: 3px solid #5d0e07;
        overflow: hidden;
    }
}

/* Responsive home-area slider  */
@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home-area .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(close.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

@media (max-width: 560px) {
    .home-area .content h1 {
        font-size: 3em;
        line-height: 60px;
    }
}