h2 {
    font-size: 1.75rem;
}

input {
    background-image: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}


/* ---------- ALIGN ---------- */
.align_login {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -50px;
}

/* ---------- BUTTON ---------- */

.button {
    background-color: #33cc77;
    color: #fff;
    padding: 10px 30px;
    border-radius: 15px 25px 15px 25px;
    margin: 5px auto;
}

.login__form a {
    text-decoration: none;
    text-align: center;
}

.login_img {
    width: 33%;
}

.button:focus,
.button:hover {
    background-color: #28ad63;
}

/* ---------- LOGIN ---------- */
.login_item {
    width: 30%;
    margin: 30px auto;
}

.login__header {
    background-color: #035f17;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    padding: 10px;

}

.login__form {
    background-color: #eef1ef;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #035f17;
    display: grid;
    gap: 10px;
    padding: 20px;
}


.login_item input[type="email"],
.login_item input[type="password"] {
    background-color: #eef1ef;
    color: #777;
    padding: 5px;
    width: 90%;
}

.login_item input[type="submit"] {
    display: block;
    margin: 5px auto;
}

.login__button,
.login__social {
    display: flex;
    justify-content: center;
}

.login__social a {
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-color);
    border-radius: 50%;
    margin: 22px 10px;
    font-size: 25px;
    transition: 0.2s ease-in-out;
    color: black;
}

.login__social a:hover {
    transform: scale(1.5);
}

.forgotpw {
    padding-top: 15px;
}

.login__social p {
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 2px solid #28ad63;
    border-top: 2px solid #28ad63;
    border-radius: 10px;
}

@media (max-width: 799px) {
    .login_img {
        display: none;
    }

    .login_item {
        width: 100% !important;
        margin-bottom: 50px !important;
    }
    .button{
        padding: 5px;
    }
    .forgotpw {
        padding-top: 10px;
    }
}