/* Extra Small Devices (Mobile, <576px) */
@media (max-width: 575.98px) {
    .media-area .content {
        width: 100%;
    }

    #media-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .cuisine-area .content {
        width: 100%;
    }

    #cuisine-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

}

/* Small Devices (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium Devices (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .media-area .content {
        width: 100%;
    }

    #media-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
    }

    .media-item {
        width: 44%;
        height: auto;
    }

    .media-image img {
        width: 100%;
        height: auto;
    }

    .cuisine-area .content {
        width: 100%;
    }

    #cuisine-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .cuisine-item {
        width: 44%;
        height: auto;
    }

    .cuisine-image img {
        width: 100%;
        height: auto;
    }
}

/* Large Devices (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .media-area .content {
        width: 100%;
    }

    #media-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
    }

    .media-item {
        width: 48%;
        height: auto;
    }

    .media-image img {
        width: 100%;
        height: auto;
    }

    .cuisine-area .content {
        width: 100%;
    }

    #cuisine-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .cuisine-item {
        width: 48%;
        height: auto;
    }

    .cuisine-image img {
        width: 100%;
        height: auto;
    }
}

/* Extra Large Devices (≥1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra Extra Large Devices (≥1400px) */
@media (min-width: 1400px) {}